.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

body, html
{
  padding: 0;
  background: #2D3034 none;
  font-family: arial, helvetica, geneva, sans-serif, "MS Sans-Serif", verdana;
  font-size:14px;
  margin: 0;
  color: #2D3034;
}

h1
{
  margin: 0;
  padding: 0;
}

h1 span
{
  display: block;
  line-height: 1px;
  font-size: 1px;
  height: 1px;
  width: 1px;
  position: absolute;
  top: -999px;
  left: -999px;
  background: transparent none;
}

h1 img
{
  display: block;
  margin: 20px 0 20px 8px;
  border: 0;
}

h2
{
  font-family: georgia, times, new-times-roman, serif;
  padding: 20px;
  margin: 0;
  color: #9A8E72;
  font-size:36px;
  font-weight: normal;
}

a
{
  font-weight: bold;
  color: #8FC0BB;
  text-decoration: none;
}

a:hover
{
  color: #B30001;
}

#sf_blog_navigation
{
  border-top: 1px #373737 solid;
  border-bottom: 1px solid #292929;
  background: #2D3034;
  height: 30px;
  padding: 0 10px;
}

#sf_blog_navigation a
{
  display: block;
  float: left;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  line-height: 10px;
  font-weight: normal;
}

#sf_blog_navigation a:hover
{
  background-color: #B30001
}

#sf_blog_content_wrapper
{
  background: #E3E1B8 none;
}

#sf_admin_container table
{
  background: #D8D7B8 none;
}

#sf_admin_container .sf_admin_form_row,
#sf_admin_container tr,
#sf_admin_container th,
#sf_admin_container td
{
  border: none;
}

#sf_admin_container table td,
#sf_admin_container table th
{
  font-size: 0.8em;
}

#sf_admin_container table table td,
#sf_admin_container table table th
{
  font-size: 1em;
}

#sf_admin_container tr
{
  background: transparent none;
  border-bottom: 1px #9A8E72 solid;
}

#sf_admin_container thead tr,
#sf_admin_container thead tr:hover
{
  background: #fff none;
}

#sf_admin_container tfoot tr
{
  border-bottom: none;
}

#sf_admin_container tr.even
{
  background: transparent none;
}

#sf_admin_container tr:hover
{
  background-color: inherit;
}

#sf_admin_container th
{
  background: transparent none;
}

#sf_admin_container td,
#sf_admin_container th,
#sf_admin_container a
{
  color: #2D3034;
}

#sf_admin_container a:hover
{
  color: #B30001;
}

#sf_admin_container span.tree-spacer
{
  display: block;
  width: 20px;
  height:auto;
  float: left;
}

#sf_admin_content
{
  width: 100%;
}

#sf_admin_content .sf_admin_list table
{
  width: 68%;
}

#sf_admin_content .sf_admin_list table table
{
  width: auto;
}

#sf_admin_bar
{
  float: right;
  width: 27%;
  margin: 0 20px 0 0;
}

#sf_admin_bar form table
{
  width: 100%;
}

#sf_admin_content .sf_admin_form form,
#sf_admin_content .sf_admin_list table
{
  margin: 0 20px 20px 20px;
}

#sf_admin_container .notice,
#sf_admin_container .error
{
  margin: 0 20px 20px 20px;
  padding: 10px 10px 10px 30px;
  background-position: 10px 10px;
}

#sf_admin_container .notice
{
  background-color: #8FC0BB;
  border: #9A8E72;
  color: #fff;
}

#sf_admin_container .error
{
  background-color: #B30001;
  border: #9A8E72;
  color: #fff;
}

/** ADMIN FORM **/
#sf_admin_container .sf_admin_form label
{
  color: #2D3034;
  font-family: georgia, times, times-new-roman, serif;
  border-top: 1px dotted #2D3034;
  margin-right: 10px;
  min-height: 34px;
  padding: 5px 0 0 0;
  width: 10em;
}

#sf_admin_container .sf_admin_form input[type=text],
#sf_admin_container .sf_admin_form textarea,
#sf_admin_container .sf_admin_form input[type=password]
{
  font-size: 1.3em;
  padding: 0.3em;
}

#sf_admin_container fieldset h2
{
  padding: 10px;
  font-size: 24px;
  font-family: georgia, times, times-new-roman, serif;
  background: transparent none;
}

#sf_admin_container .sf_admin_form ul.checkbox_tree label,
#sf_admin_container .sf_admin_form ul.radio_tree label,
#sf_admin_container .radio_list label
{
  border: 0;
  font-family: arial, helvetica, geneva, verdana, sans-serif;
}